<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>School diary - changelog</title>
    <th:block th:insert="fragments/imports :: head"></th:block>
    <th:block th:insert="fragments/imports :: grade-liks"></th:block>
</head>
<body>
<th:block th:insert="fragments/components :: nav"></th:block>
<div class="main-wrapper justify-content-center">
    <a id="button-top"></a>
    <!--    change log table section-->
    <div class="changelog-table col-8 mt-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" colspan="4">Change log table:</th>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Comment</th>
                <th scope="col">User</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">0.04</th>
                <td>11.06.2022</td>
                <td>clean up</td>
                <td><a href="https://github.com/artur1011010" target="_blank">@artur1011010</a></td>
            </tr>
            <tr>
                <th scope="row">0.03</th>
                <td>10.06.2022</td>
                <td>documentation page, student list</td>
                <td><a href="https://github.com/artur1011010" target="_blank">@artur1011010</a></td>
            </tr>
            <tr>
                <th scope="row">0.02</th>
                <td>09.05.2021</td>
                <td>spring security, login and register form</td>
                <td><a href="https://github.com/artur1011010" target="_blank">@artur1011010</a></td>
            </tr>
            <tr>
                <th scope="row">0.01</th>
                <td>15.05.2022</td>
                <td>Project setup</td>
                <td><a href="https://github.com/artur1011010" target="_blank">@artur1011010</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<th:block th:insert="fragments/imports :: js_import"></th:block>

</html>